.sign-up {
	background: #00918e;
	grid-column: full-start / full-end;
	color: #fff;
	padding: 4.5rem 10vw;
	display: grid;
	grid-column-gap: 3rem;
	grid-template-columns: 2fr 1fr;
} 

@media (max-width: 37.5em) {
	.sign-up {
		grid-template-columns: 1fr;
		justify-items: center;
		grid-row-gap: 2rem;
	}

	.sign-up .sign-up-box-1 {
		padding-right: 0;
		text-align: center;
	}
}

.sign-up-box-1 {
	padding-right: 9rem;
}

.sign-up-box-1 h2 {
	font-weight: 400;
}

.sign-up-text {
	margin-top: 1.6rem;
	font-size: 1.6rem;
	line-height: 1.6;
}

.sign-up-btn {
	font-size: 1.6rem;
	font-weight: 700;
	background: #00918e;
	color: #fff;
	border: 0;
	border: 2px solid #fff;
	padding: 2rem 5rem;
}